<div>
    <h1 style="color:blueviolet">Update Employee</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="editEmployee()">
      <div>
        <label for="name">Name: </label><br/>
        <input type="text" name="name" formControlName="name" placeholder="Enter the Name">
        <div *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched">
          <div *ngIf="employeeForm.get('name')?.errors?.['required']">Name is required.</div>
          <div *ngIf="employeeForm.get('name')?.errors?.['minlength']">Minimum length is 4 .</div>
        </div>
        <br>
      </div>
  
      <br>
      
      <div>
        <label for="department">Department: </label><br/>
        <input type="text" name="department" formControlName="department" placeholder="Enter the Department">
        <div *ngIf="employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched">
          <div *ngIf="employeeForm.get('department')?.errors?.['required']">Department is required.</div>
        </div>
        
      </div>
  
      <br>
      <div>
        <label for="role">Role: </label><br/>
        <input type="text" name="role" formControlName="role" placeholder="Enter the Role">
        <div *ngIf="employeeForm.get('role')?.invalid && employeeForm.get('role')?.touched">
          <div *ngIf="employeeForm.get('role')?.errors?.['required']">Role is required.</div>
        </div>
      </div>
  
      <br>
      <div>
        <label for="salary">Salary: </label><br/>
        <input type="text" name="salary" formControlName="salary" placeholder="Enter the Salary">
        <div *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched">
          <div *ngIf="employeeForm.get('salary')?.errors?.['required']">Salary is required.</div>
        </div>
      </div>
    
    
      <br>
      <div>
        <label for="date">Date: </label><br/>
        <input type="text" name="date" formControlName="date" placeholder="Enter the Date">
        <div *ngIf="employeeForm.get('date')?.invalid && employeeForm.get('date')?.touched">
          <div *ngIf="employeeForm.get('date')?.errors?.['required']">Date is required.</div>
        </div>
      </div>
  
      <br>
      
      <div>
        <button type="submit" [disabled]="employeeForm.invalid" >
          Update Employee
        </button>
      </div>
    </form>
  </div>